body {
  background-color:#fafafa;
  font-family: 'Montserrat';
  padding: 20px;
}
.hidden{
  display: none;
  visibility: hidden;
}
h1{
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 400;
  padding-left: 20px;
}
.button {
  background-color: #4CAF50;
  border-radius: 4px;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor:pointer;
}
input[type="file"] {
  position: absolute;
  z-index: -1;
  top: 10px;
  left: 8px;
  font-size: 17px;
  color: #fff;
  cursor: pointer;
  display: none;
  visibility: hidden;
}

.button-wrap {
  margin-left:20px;
  position: relative;
}
